@font-face {
  font-family: 'Dosis';
  src: url('/Dosis.ttf') format('truetype');
}
  
body {
  font-family: 'Dosis', sans-serif;
}


/* unvisited link */
a:link {
  color: #0070bb;
}

/* visited link */
a:visited {
  color: #724479;
}

/* mouse over link */
a:hover {
  color: #395a9a;
}

/* selected link */
a:active {
  color: #395a9a;
}